{% extends "base.html" %}

{% block title_head %}
    <title>Crear Monitor</title>
{% endblock title_head %}

{% block h1_header %}
    <h1 style="text-align: center; margin-top: 20px;">
        Crear Monitor
    </h1>
{% endblock h1_header %}

{% block main %}
    <div style="max-width: 400px; margin: auto; margin-top: 50px; padding: 20px; border: 1px solid #ccc; border-radius: 10px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
        <form action="" method="POST">
            {% csrf_token %}
            {{ formulario.media }}
            <div style="margin-bottom: 15px; display: flex; flex-direction: column;">
                <label for="{{ formulario.marca.id_for_label }}" style="font-size: 16px;">Marca:</label>
                {{ formulario.marca }}
            </div>
            <div style="margin-bottom: 15px; display: flex; flex-direction: column;">
                <label for="{{ formulario.descripcion.id_for_label }}" style="font-size: 16px;">Descripción:</label>
                {{ formulario.descripcion }}
            </div>
            <div style="margin-bottom: 15px; display: flex; flex-direction: column;">
                <label for="{{ formulario.anio.id_for_label }}" style="font-size: 16px;">Año:</label>
                {{ formulario.anio }}
            </div>
            <div style="margin-bottom: 15px; display: flex; flex-direction: column;">
                <label for="{{ formulario.imagen.id_for_label }}" style="font-size: 16px;">Imagen:</label>
                {{ formulario.imagen }}
            </div>
            <button type="submit" class="btn btn-primary" style="width: 100%; padding: 10px; border-radius: 5px; cursor: pointer; font-size: 16px; background-color: #01fc4c;">Crear Monitor</button>
        </form>
    </div>
{% endblock main %}