{% extends "base.html" %}

{% block title_head %}
    <title>Procesadores</title>
{% endblock title_head %}

{% block menuicon %}
    {% comment %} <label for="menu">
        <img src="../inicio/static/assets/img/menu.png" class="menu-icono" alt="menu">
    </label> {% endcomment %}
{% endblock menuicon %}

{% block h1_header %}
{% comment %} <h1 style="text-align: center; margin-top: 20px;" >
    Procesadores
</h1> {% endcomment %}
{% endblock h1_header %}

{% block contiene_header %}

        <header class="masthead">
            <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
                <div class="d-flex justify-content-center">
                    <div class="text-center">
                        <h1 class="mx-auto my-0 text-uppercase">Procesadores</h1>
                        <h2 class="text-white-50 mx-auto mt-2 mb-5">De Gamers para Gamers.</h2>
                        
                    </div>
                </div>
            </div>
        </header>

{% endblock contiene_header %}

{% block section %}
    <div style="text-align: center; margin-top: 20px;">
        <p>
            <a href={% url "crear_procesador" %} class="btn-1">Crear Procesador</a>
        </p>

        <form action={% url "procesadores" %} method="get" style="margin-bottom: 20px;">
            <input type="text" name="marca" placeholder="Buscar Procesador..." class="form-control" style="margin-top: 10px;">
            <input type="submit" value="Buscar" class="btn btn-secondary" style="margin-top: 10px;">
        </form>

        {% if listado_de_procesadores %}
            <ul style="list-style: none; padding: 0;">
                {% for procesador in listado_de_procesadores %}
                    <li style="margin-bottom: 20px; padding-bottom: 10px; border-bottom: 1px solid #ccc;">
                        <strong>{{ procesador }}</strong><br>
                        <a href={% url "actualizar_procesador" procesador.id %} class="btn-1">Actualizar</a> 
                        <a href={% url "eliminar_procesador" procesador.id %} class="btn-1">Eliminar</a>
                        <a href={% url "detalle_procesador" procesador.id %} class="btn-1">Detalle</a> 
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No se encontraron Procesadores.</p>
        {% endif %}
    </div>

{% endblock section %}

{% block section2 %}
{% endblock section2 %}

{% block main %}    
{% endblock main %}

{% block contacto %}
{% endblock contacto %}


{% block footer %}
{% endblock footer %}