{% extends "base.html" %}

{% block title_head %}
    <title>Cambiar Contraseña</title>
{% endblock title_head %}

{% block h1_header %}
<h1 style="text-align: center; margin-top: 20px;" >
    Cambiar Contraseña
</h1>
{% endblock h1_header %}

{% block main %}

<form action={% url "cambiar_password" %} method="POST">
    {% csrf_token %}
    <table>
    {{form}}
    </table>
    <input type="submit" value="Cambiar Password">
 </form>
   
{% endblock main %}

{% block footer %}
<footer class="footer bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 h-100 text-center text-lg-start my-auto">
                <ul class="list-inline mb-2">
                    <li class="list-inline-item"><a href="{% url 'inicio' %}"><strong>Inicio</strong></a></li>
                    <li class="list-inline-item">⋅</li>
                    <li class="list-inline-item"><a href="{% url 'about' %}"><strong>About</strong></a></li>
                    <li class="list-inline-item">⋅</li>
                    <li class="list-inline-item"><a href="{% url 'productos' %}"><strong>Productos</strong></a></li>
                    <li class="list-inline-item">⋅</li>
                    <li class="list-inline-item"><a href="{% url 'contacto' %}"><strong>Contacto</strong></a></li>
                    <li class="list-inline-item">⋅</li>                    
                </ul>
                <p class="text-muted small mb-4 mb-lg-0">&copy; <span class="span">HARD GAMERS!</span> 2024. All Rights Reserved.</p>
            </div>
            <div class="col-lg-6 h-100 text-center text-lg-end my-auto">
                <ul class="list-inline mb-0">
                    <li class="list-inline-item me-4">
                        <a href="#!"><i class="bi-facebook fs-3"></i></a>
                    </li>
                    <li class="list-inline-item me-4">
                        <a href="#!"><i class="bi-twitter fs-3"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#!"><i class="bi-instagram fs-3"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
{% endblock footer %}