{% extends "base.html" %}

{% block title_head %}
    <title>Login</title>
{% endblock title_head %}

{% block contiene_header %}

<header class="about">
    <div class="container position-relative">
        <div class="row justify-content-center">
            <div class="text-center">
                <div class="text-center text-white">
                    <h1 class="comun">
                        Iniciar Sesion
                    </h1>
                    <br>

                    <form class="navbar-brand" action={% url "login" %} method="POST">
                        {% csrf_token %}
                        <table>
                        {{form}}
                        </table>
                        <br>
                        <input class="btn-1" type="submit" value="Iniciar Sesion">
                     </form>                    
                        <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Error sending message!</div></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</header>

{% endblock contiene_header %}

{% block h1_header %}    
{% endblock h1_header %}

{% block section %}
{% endblock section %}

{% block main %}   
{% endblock main %}

{% block footer %}

{% endblock footer %}