{% extends "base.html" %}

{% block title_head %}
    <title>Registro</title>
{% endblock title_head %}

{% block contiene_header %}
        <header class="about">
            <div class="container position-relative">
                <div class="row justify-content-center">
                    <div class="text-center">
                        <div class="text-center text-white">
                            <!-- Page heading-->

                            <h1 class="comun" >
                                Registrate
                            </h1>
                            <br>
                            <form action={% url "registrarse" %} method="POST">
                                {% csrf_token %}
                                <table>
                                {{form}}
                                </table>
                                <br>
                                <input class="btn-1" type="submit" value="Registrarse">
                             </form>
                                                        
                            <!-- * * * * * * * * * * * * * * *-->
                            <!-- * * SB Forms Contact Form * *-->
                            <!-- * * * * * * * * * * * * * * *-->
                            <!-- This form is pre-integrated with SB Forms.-->
                            <!-- To make this form functional, sign up at-->
                            <!-- https://startbootstrap.com/solution/contact-forms-->
                            <!-- to get an API token!-->
                            <form class="form-subscribe" id="contactForm" data-sb-form-api-token="API_TOKEN">
                                <!-- Email address input-->
                                {% comment %} <div class="row">
                                    <div class="col">
                                        <input class="form-control form-control-lg" id="emailAddress" type="email" placeholder="Email Address" data-sb-validations="required,email" />
                                        <div class="invalid-feedback text-white" data-sb-feedback="emailAddress:required">Email Address is required.</div>
                                        <div class="invalid-feedback text-white" data-sb-feedback="emailAddress:email">Email Address Email is not valid.</div>
                                    </div>
                                    <div class="col-auto"><button class="btn btn-primary btn-lg disabled" id="submitButton" type="submit">Submit</button></div>
                                </div> {% endcomment %}
                                <!-- Submit success message-->
                                <!---->
                                <!-- This is what your users will see when the form-->
                                <!-- has successfully submitted-->
                                <div class="d-none" id="submitSuccessMessage">
                                    <div class="text-center mb-3">
                                        <div class="fw-bolder">Form submission successful!</div>
                                        <p>To activate this form, sign up at</p>
                                        <a class="text-white" href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
                                    </div>
                                </div>
                                <!-- Submit error message-->
                                <!---->
                                <!-- This is what your users will see when there is-->
                                <!-- an error submitting the form-->
                                <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Error sending message!</div></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </header>
{% endblock contiene_header %}

{% block h1_header %}
{% endblock h1_header %}

{% block section %}
{% endblock section %}


{% block main %}   
{% endblock main %}

{% block footer %}

{% endblock footer %}